:root {
	--gray-50: #f8f7f8;
	--gray-100: #f0eeee;
	--gray-200: #ded9da;
	--gray-300: #c1b8bb;
	--gray-400: #9f9196;
	--gray-500: #847379;
	--gray-600: #6c5d62;
	--gray-700: #584c50;
	--gray-800: #4b4144;
	--gray-900: #41393b;
	--gray-950: #231f20;

	--java-600: #158c79;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Fira Code', sans-serif;
}

body {
	height: 100vh;
	background-color: var(--gray-100);
}

header {
	display: flex;
	justify-content: space-around;

	background-color: var(--gray-950);
	box-shadow: 0px 3px 5px 0px #00000070;
}

.header__logo {
	max-width: 18rem;
}

nav {
	position: absolute;
	top: 7.6rem;
	right: 0;
	left: 0;

	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.nav--lista {
	list-style: none;

	display: flex;
	justify-content: flex-end;
	gap: 0.8rem;
}

.nav--icone {
	font-size: 1.4rem;
	color: var(--gray-400);
}

.nav--icone:hover {
	color: var(--gray-100);

	transform: scale(1.1);
	transition: all 0.3s ease-in-out;
}

main {
	margin-top: 5%;
}

.questions__container {
	display: flex;
	justify-content: space-evenly;
	gap: 3rem;
}

.questao {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	/* justify-content: space-evenly; */
	gap: 0.8rem;

	max-width: 400px;
}

.titulo {
	font-size: 1.15rem;
	font-weight: 600;
}

input {
	padding: 0 0.6rem;
  height: 42.18px;

  border: 1px solid var(--gray-300);
  border-radius: 4px;
  box-shadow: 0px 3px 5px 1px #00000070;
}

button {
	padding: 0.8rem;

	font-weight: 600;
	color: var(--gray-100);
	background: var(--gray-900);

	border: none;
	border-radius: 2px;
	box-shadow: 2px 1px 2px 0px #00000070;
}

button:hover {
	cursor: pointer;
	opacity: 0.9;
}

.resultado {
  max-width: 300px;
}

footer {
  position: absolute;
  bottom: 1%;
  left: 0;
  right: 0;

  text-align: center
}


.mobile {
	display: none;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: var(--gray-300);
}

::-webkit-scrollbar-thumb {
	background: var(--gray-800);
}

::-webkit-scrollbar-thumb:hover {
	background: var(--gray-700);
}

@media (max-width: 800px) {
	.questions__container {
		flex-direction: column;
		justify-content: space-around;

		width: 360px;
		margin: 0 auto;
	}

	.mobile {
		display: block;
	}

	.mobile a {
		text-decoration: none;
		color: var(--java-600);
	}

	.mobile a:hover {
		text-decoration: underline;
		opacity: 0.8;
	}

	.desktop {
		display: none;
	}

  footer {
    position: relative;
    margin-top: 3rem;
    
    text-align: center
  }
}
