:root {
	--gray-50: #f8f7f8;
	--gray-100: #f0eeee;
	--gray-200: #ded9da;
	--gray-300: #c1b8bb;
	--gray-400: #9f9196;
	--gray-500: #847379;
	--gray-600: #6c5d62;
	--gray-700: #584c50;
	--gray-800: #4b4144;
	--gray-900: #41393b;
	--gray-950: #231f20;

  --java-600: #158c79;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Fira Code', sans-serif;
}

body {
  height: 100vh;
  position: relative;
	background-color: var(--gray-100);
}

.header__container {
	position: relative;

  display: flex;
  justify-content: space-around;

	background-color: var(--gray-950);
  box-shadow: 0px 3px 5px 0px #00000070;
}

.header__logo {
	max-width: 18rem;
}

.main__container {
	background-color: var(--gray-100);
}

.main__resultados {
	display: flex;
	justify-content: center;
  padding-top: 5%;
}

.main__resultados h4 {
	position: absolute;
	top: 60%;
}

.questao {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.5rem;

	max-width: 250px;
	height: 300px;
	margin: 0 auto;
	padding: 0.8rem 0;
}


.questao__1--paragrafo {
	position: absolute;
	top: 28%;
	font-weight: 600;
	margin: 0 auto;
	align-items: center;
	line-height: 0.8rem;
	font-size: 0.8rem;
}

.mobile {
  display: none;
}


button {
	position: absolute;
	top: 40%;

	margin: 0.5rem 0;
	padding: 0.4rem;

	font-weight: 600;
	color: var(--gray-200);
	background: var(--gray-900);

	border: none;
	border-radius: 2px;
  box-shadow: 2px 1px 2px 0px #00000070;
}

button:hover {
	cursor: pointer;
	opacity: 0.9;
}

.questao__1--botao--desativado:hover,
.questao__1--botao--desativado:disabled {
	opacity: 0.6;
	cursor: not-allowed;
}

.nav--lista {
	position: absolute;
	right: 0;
	bottom: 0;
  
  max-width: 144px;
  padding: 1rem 1.2rem;

  display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.8rem;

  background-color: var(--gray-950);
  border-top-left-radius: 4px;
	list-style: none;
}

.nav--icone {
	font-size: 1.4rem;
	color: var(--gray-600);
}

.nav--icone:hover {
	color: var(--gray-100);

	transform: scale(1.2);
	transition: all 0.3s ease-in-out;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: var(--gray-300);
}

::-webkit-scrollbar-thumb {
	background: var(--gray-800);
}

::-webkit-scrollbar-thumb:hover {
	background: var(--gray-700);
}

@media (max-width: 768px) {
  body {
    height: auto;
  }

	.main__resultados {
		flex-direction: column;
    padding: 2rem 0;
	}

	.main__resultados h4 {
		font-size: 0.8rem;
	}

	.questao {
		font-size: 0.8rem;
		/* height: 250px; */
	}

  .mobile {
    display: block;
  }

  .mobile a {
    text-decoration: none;
    color: var(--java-600);
  }

  .mobile a:hover {
    text-decoration: underline;
    opacity: .8;
  }

  .desktop {
    display: none;
  }
}
